/* --------------------------------media large----------------------- */
@media screen and (min-width: 600px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 1rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 2.5rem;
    }

    .logo {
        max-width: 100px;
        height: auto;
        margin-right: 1rem;
        margin-left: .5rem;
        margin-top: .25rem;
    }

    #name {
        font-size: 4.25rem;
    }

    h1 {
        /* font-size: 3rem; */
        padding-left: 1rem;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .navigation a {
        font-size: 2.25rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .heroText {
        flex-wrap: wrap;
        /* top: -100px; */
        padding: 0 1rem 1rem 1rem;
    }

    .heroText h2 {
        font-size: 4.2rem;
        text-align: left;
        margin-top: 1rem;
    }

    .heroText p {
        font-size: 2rem;
    }

    .description {
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    .customerReviews h3 {
        font-size: 2.5rem;
    }

    .review-card {
        font-size: 1.5rem;
        padding: 1rem 3rem;
        margin-top: 0;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto 1fr;
        padding: 1rem;

    }

    .company {
        font-style: italic;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .copywrite,
    .info {
        text-align: center;
        font-size: 3vw;
        font-weight: normal;
    }

    .social {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 0 auto;
    }

    .socialLinks {
        display: block;

    }

    .socialLinks a img {
        max-width: 50px;
        margin: .5rem;
    }

}